<?php
return [
    'email' => [
        'host' => 'メールのホスト名',
        'username' => 'メールのユーザー名',
        'password' => 'メールのパスワード',
        'port' => 587,
        'from' => [
            'email' => 'あなたのメールアドレス',
            'name' => 'Mailer'
        ],
        'addAddress' => [
            'email' => 'あなたのメールアドレス',
            'name' => 'Contact'
        ]
    ]
];
